html, body {
    height: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

body{
    font-family: "Cal Sans", sans-serif;
    font-style: normal;
    background-color: rgb(0, 0, 0);
}

main {
    flex: 1;
    padding-bottom: 50px; /* Isso empurra o conteúdo antes do footer */

}

.Pagina{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Cabecalho{
    width: 1000;
    height: 15%;
    margin-bottom: 2%;
    border-bottom: 1px solid #FFCC00;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.Cabecalho .logoJaragua{
    width: 8%;
    position: relative;
    left: 1%;
    padding-bottom: 1%;
    padding-top: 0.5%;
}

.Cabecalho .textoCabecalho{
    background: linear-gradient(90deg, #D1A700 0%, #FC0 31.25%, #FFF 76.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
    position: relative;
    left: 1%;
}

.Cabecalho .tituloBlog{
    font-size: 35px;
    margin: 0;
    letter-spacing: 1px;
}

.Cabecalho .descricaoBlog{
    margin-top: 0.3%;
    font-size: 12px;
    margin: 0;
    letter-spacing: 0.5px;
}

.hamburguer{
    width: 20px;
    height: 20px;
    margin-left: 2%;
    position: absolute;
    padding: 2px;
    margin-top: 3%;
}

.artigos{
    display: grid;
    grid-template-columns: repeat(2, 45%); /* 2 colunas iguais */
    gap: 2%;
    row-gap: 3%;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 5%;
}

.artigos .artigo01, .artigos .artigo02, .artigos .artigo03, .artigos .artigo04, .artigos .artigo05, .artigos .artigo06{
    border-bottom: 2px solid #D1A700;
    border-right: 2px solid #D1A700;
    width: 100%;
    height: 170px;
    display: flex;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.artigos .imgJogo{
    width: 35%;
    height: 100%;
    margin-right: 5%;
    border-top-left-radius: 3px;
}

.artigos .textoArtigo, .artigo03, .artigo04, .artigo05, .artigo06{
    margin-top: 0%;
    margin-bottom: 2%;
    position: relative;
}

.artigos .tituloArtigo{
    margin-bottom: 2%;
    background: linear-gradient(90deg, #D1A700 0%, #FC0 11.25%, #FFF 86.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.artigos .resumoArtigo{
    margin-bottom: 0%;
    font-size: 14px;
    margin-right: 3%;
    background: linear-gradient(90deg, #D1A700 0%, #FC0 11.25%, #FFF 86.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.5px;
}

.artigos .leiaMais{
    font-size: 12px;
    background-color:#000000;
    color: #D1A700;
    border-radius: 10%;
    padding: 1.2%;
    margin-top: -4%;
    text-decoration: none;
    transition: color 0.7s ease;
    border: 1px solid #D1A700;
    transition: background-color 0.7s ease;
    position: absolute;
    bottom: 0%;
    left: 0%;
}


.leiaMais:hover{
    font-size: 12px;
    background-color: #D1A700;
    color: #000000;
    border: 1px solid #000000;
}

.artigos div:hover{
    transform: scale(1.00);
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.texto:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.footerBlog {
    background-color: black;
    color: white;
    padding: 50px 10%;
    border-top: 1px solid #FFCC00;
}

.footerBlog .textos {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    flex-wrap: wrap;                
    gap: 30px;                     
}

.footerBlog .Texto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;                     
    flex: 1;                       
    text-align: center;
}

.footerBlog .Texto img {
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 4px;
}

.footerBlog .logotexto img {
    width: 3%;
    position: absolute;
    margin-left: -10%;
    margin-top: -1.8%;
}

.footerBlog .logotexto p {
    position: absolute;
    margin-left: -7%;
    margin-top: -1%;
    font-size: 12px;
}

.parteCima{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 0px;
    align-items: flex-start;
}

.tituloPagina{
    margin-left: 3%;
    justify-content: center;
    text-align: left;
    margin-bottom: 12%;
}

.tituloPagina h1{
    font-size: 40px;
    margin-bottom: 0%;
    margin: 0;
    background: linear-gradient(90deg, #D1A700 0%, #FC0 11.25%, #FFF 86.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.tituloPagina p{
    font-size: 15px;
    margin-bottom: 2%;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.tituloPagina h2{
    font-size: 19px;
    color: white;
    letter-spacing: 1px;
}

.tituloPagina span{
    font-size: 15px;
    margin-bottom: 1%;
    display: inline-block;
    color: #ffffff;
    margin: 0;
    letter-spacing: 0.5px;
}

.imgArtigo img{
    width: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.415);
    border: 1px solid black;
    border-radius: 5px;
}

.parteCima{
    margin-bottom: 5%;
    color: white;
}


.seta{
    width: 1%;
    height: 2%;
    margin-left: 1%;
    position: absolute;
    border: 1px solid #D1A700;
    background-color: #D1A700;
    padding: 2px;
    border-radius: 10px;
}
